h3 {
font-size: 25px !important;
}

.btn-success {
    background-color: red;
}

canvas {
    animation-name:code;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes code {
    from{ box-shadow: 1px 1px 38px aqua;}
    to{box-shadow: 1px 1px 38px red;}
}